* {
    box-sizing: border-box;
}

:root {
    --kombu-green: #3C493F;
    --xanadu: #7E8D85;
    --ash-grey: #B3BFB8;
    --mint-cream: #F0F7F4;
}

html,body { height:100%; }

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    background-image: url('../app/assets/jpg/1041.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.flex {
    display: flex;
    align-items: center;
}

.column {
    flex-direction: column;
}

header .upper {
    background-color: var(--kombu-green);
    text-align: center;
    padding: 0.5em;
    font-size: 26px;
    font-weight: bold;
}

header .lower {
    padding: 1em;
    background-color: var(--xanadu);
}

#search-container {
    position: relative;
    margin-left: 4em;
    width: 40%;
}

#search-container form input {
    width: 70%;
    padding: 0.5em;
    border-radius: 10px;
}

#search-results {
    position: absolute;
    width: 70%;
    margin-top: 1em;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
}

.result {
    padding: 0.5em 1em;
    border-bottom: 1px solid var(--kombu-green);
    background-color:#EAE9EC;
}

.result:hover {
    background-color:  #CBC8D0;
}

.result:last-child {
    border-bottom: none;
}

.top {
    justify-content: space-between;
}

.result h3 {
    font-size: 20px;
}

.result p {
    font-size: 12px;
    overflow: none;
}

#unit-selector {
    margin-left: auto;
}

main {
    background-color: var(--mint-cream);
}

.weather img {
    height: 100px;
    width: 100px;
}

img.small-img {
    height: 40px;
    width: auto;
}

#current-weather-container {
    background-color:#B3BFB8;
    width: 60vw;
    text-align: center;
}

#current-weather-container .info {
    padding: 0.5em 1em;
    justify-content: space-evenly;
}

#current-weather-container .info h2 {
    font-size: 24px;
}

#current-weather-container .info .name {
    flex: 1;
}

#current-weather-container .info .conditions {
    margin-right: 0;
    margin-left: auto;
}

#current-weather-container .exact{
    font-size: 40px;
    padding: 0;
    margin: 0;
}

footer {
    height: 20px;
    background-color: aquamarine;
    margin-top: auto;
    margin-bottom: 0;
}