* {
    box-sizing: border-box;
}

:root {
    --queen-blue: #4B6695;
    --shadow-blue: #7C95BE;
    --jet: #343434;
    --spanish-gray: #909090;
    --platinum: #EBEBEB;

}

html,body { height:100%; }

body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 26px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

main {
    flex: 1;
    background-image: url('../app/assets/jpg/1041.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.flex {
    display: flex;
    align-items: center;
}

.column {
    flex-direction: column;
}

.card {
    background-color: var(--platinum);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.8;
    padding: 0.5em 1.5em;
    margin: 40px 0 0 40px;
}

header .upper {
    background-color: var(--queen-blue);
    padding: 0.3em;
}

header .lower {
    padding: 0.7em;
    background-color: var(--shadow-blue);
}

#search-container {
    position: relative;
    margin-left: 4em;
    width: 40%;
}

#search-container form input {
    width: 70%;
    padding: 0.5em;
    border-radius: 10px;
}

#search-results {
    position: absolute;
    width: 70%;
    margin-top: 1em;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
}

.result {
    padding: 0.5em 1em;
    border-bottom: 1px solid var(--spanish-gray);
    background-color:#EAE9EC;
}

.result:hover {
    background-color:  #CBC8D0;
}

.result:last-child {
    border-bottom: none;
}

.top {
    justify-content: space-between;
}

.result p {
    font-size: 12px;
    overflow: none;
}

#unit-selector {
    margin-left: auto;
}

main {
    background-color: var(--mint-cream);
}

.conditions img {
    height: 80px;
    width: 80px;
}

img.small-img {
    height: 40px;
    width: auto;
}

#current-conditions-container {
    width: fit-content;
}

#current-conditions-container .intro {
    padding: 0.5em 1em;
    justify-content: center;
}

#current-conditions-container .intro .name {
    flex: 1;
}

#current-conditions-container .weather {
    padding: 10px 30px 10px 5px;
}

#current-conditions-container .weather img {
    height: 70px;
    width: auto;
    padding-bottom: 10px;
}

#current-conditions-container .exact{
    font-size: 60px;
}

#current-conditions-container .info {
    width: 220px;
    margin-left: 2em;
}

#current-conditions-container .info div {
    width: 100%;
    border-bottom: 1px solid black;
    justify-content: space-between;
    padding: 0.3em; 
}

#current-conditions-container .info div:last-child {
    border: none;
}

#current-conditions-container .alerts{
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 0.7em !important;
}

.danger {
    background-color:#cf0a0a !important;
}

#forecast-table {
    border-collapse: collapse;
}

#forecast-table thead th{
    padding: 10px;
    border-bottom: 2px solid var(--spanish-gray);  
}

#forecast-table tbody td{
    padding: 5px 30px;
    border-bottom: 1px solid var(--spanish-gray);
    vertical-align: middle;
}

#forecast-table .first-row {
    text-align: left;
    padding: 0 50px 0 20px;
}

#forecast-table img {
    height: 40px;
    width: auto;
}

footer {
    height: 50px;
    background-color: var(--shadow-blue);
    margin-top: auto;
    margin-bottom: 0;
}